@import url('./reset.css');
html,
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande',
    'Lucida Sans', Arial, sans-serif;
  align-items: center;
  width: 100%;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 50px;
  padding: 0 15px;
  margin-top: 70px;
  width: 100%;
}
.form {
  display: flex;
  align-items: flex-end;
  justify-content: center;
  gap: 20px;
  max-width: 900px;
  width: 100%;
}
.label {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  width: 100%;
  gap: 18px;
}
.label-text {
  font-size: 20px;
  font-weight: 600;
}
.input {
  font-size: 18px;
  font-weight: 600;
  padding: 18px 24px;
  background-color: rgb(206, 245, 232);
  border-radius: 20px;
  transition: all 250ms;
  width: 100%;
}

.input:hover,
.input:focus {
  background-color: rgb(178, 214, 202);
}
.btn {
  font-size: 20px;
  font-weight: 600;
  padding: 16px 34px;
  background-color: rgb(206, 245, 232);
  border-radius: 20px;
  transition: all 250ms;
}
.btn:hover {
  background-color: rgb(178, 214, 202);
}
.list {
  padding: 84px 24px;
  background-color: rgb(233, 248, 243);
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
  overflow-wrap: break-word;
}
.alternative {
  font-size: 36px;
  font-weight: 600;
  padding: 18px 34px;
  background-color: rgb(206, 245, 232);
  border-radius: 20px;
  max-width: 250px;
  /* margin-top: 70px;
  margin-bottom: 70px; */
  text-align: center;
  transition: all 250ms;
}
.alternative:hover {
  background-color: rgb(178, 214, 202);
}
.hidden {
  display: none;
}
.active {
  display: block;
}
.finish {
  text-decoration: line-through;
  color: rgb(82, 82, 82);
}
.item {
  /* display: flex; */
  /* align-items: center; */
  /* flex-wrap: wrap;
  gap: 15px; */
  padding: 14px;
  background-color: rgb(206, 245, 232);
  border-radius: 20px;
  max-width: 250px;
  height: 100%;
  /* text-align: center;
  overflow-wrap: break-word;
  white-space: normal; */
  transition: all 250ms;
}
.item-text {
  font-size: 20px;
  font-weight: 600;
  cursor: pointer;
  height: 100%;
  /* white-space: normal;
  overflow-wrap: break-word; */
}

.item-btn {
  display: block;
  font-size: 20px;
  font-weight: 600;
  padding: 12px 24px;
  margin-top: 8px;
  width: 100%;
  background-color: rgb(245, 215, 206);
  border-radius: 200px;
  transition: all 250ms;
}
.item-btn:hover {
  background-color: rgb(211, 176, 165);
}
.statistics {
  padding: 24px;
  background-color: rgb(233, 248, 243);
  border-radius: 20px;
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: flex-start;
  flex-wrap: wrap;
  gap: 20px;
  height: 100%;
}
.all-tasks {
  font-weight: 600;
}
.tasks {
  padding: 14px;
  background-color: rgb(206, 245, 232);
  border-radius: 20px;
  max-width: 250px;
  height: 100%;
  display: flex;
  align-items: center;
  font-size: 22px;
  gap: 12px;
}
.all-tasks-count {
}
.completed-tasks {
  font-weight: 600;
}
.completed-tasks-count {
}
.inprogress-tasks {
  font-weight: 600;
}
.inprogress-tasks-count {
}
